<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="randomNewEntity">
            <h2><span jhiTranslate="reproductionUiApp.randomNewEntity.detail.title">Random New Entity</span> {{ randomNewEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="reproductionUiApp.randomNewEntity.entityName">Entity Name</span></dt>
                <dd>
                    <span>{{ randomNewEntity.entityName }}</span>
                </dd>
                <dt><span jhiTranslate="reproductionUiApp.randomNewEntity.someValue">Some Value</span></dt>
                <dd>
                    <span>{{ randomNewEntity.someValue }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/random-new-entity', randomNewEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
