<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-random-new-entity-heading" jhiTranslate="reproductionUiApp.randomNewEntity.home.createOrEditLabel">Create or edit a Random New Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="reproductionUiApp.randomNewEntity.entityName" for="field_entityName">Entity Name</label>
                    <input type="text" class="form-control" name="entityName" id="field_entityName"
                           formControlName="entityName"/>
                    <div *ngIf="editForm.get('entityName')!.invalid && (editForm.get('entityName')!.dirty || editForm.get('entityName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entityName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entityName')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entityName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="reproductionUiApp.randomNewEntity.someValue" for="field_someValue">Some Value</label>
                    <input type="text" class="form-control" name="someValue" id="field_someValue"
                           formControlName="someValue"/>
                    <div *ngIf="editForm.get('someValue')!.invalid && (editForm.get('someValue')!.dirty || editForm.get('someValue')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('someValue')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('someValue')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('someValue')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 16 }">
                        This field cannot be longer than 16 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
